$main-accent: #060b35;
$secondary: #616070;
$blue-accent: #00acdc;
$gray-elements: #f3f3f3;
$white: #fff;
$blue-color: #00acdc;
$card-title: #34568b;

$card-line-heigh-S: 14px;
$card-line-heigh-L: 18px;
